<div class="jumbotron mt-5">
  <h1 class="display-5"><%= t('.hello') %></h1>
  <p class="lead"><%= t('.header') %></p>
  <hr class="my-4">

  <% if current_user %>
    <h2><%= t('.welcome', name: current_user.name) %></h2>
  <% else %>
    <%= form_for "Login",
      url: user_google_oauth2_omniauth_authorize_path,
      method: :post,
      data: {turbo: "false"} do |f| %>
        <%= f.submit t('login'), type: "image", src: url_for("/assets/btn_google_signin_dark_normal_web.png") %>
    <% end %>
  <% end %>
</div>
