<div class="jumbotron mt-5">
  <% if current_user %>
    <h2><%= t('.welcome', name: current_user.name) %></h2>
    <hr class="my-4">
    <%= t('.my_calendar')  %>
    <% if @calendars['items'].present? %>
      <ul class="list-unstyled components">
        <% @calendars['items'].each do |calendar| %>
          <% if calendar['primary'] %>
            <li><%= link_to GoogleCalendar::DEFAULT_CALANDER_ID.humanize, events_path(calendar: GoogleCalendar::DEFAULT_CALANDER_ID) %></li>
          <% else %>
            <li><%= link_to calendar['summary'], events_path(calendar: calendar['id']) %></li>
          <% end %>
          <% if @todays_events[calendar['id']].present? %>
            <ul>
              <% @todays_events[calendar['id']].each do |event| %>
                <li><%= link_to event.title, event_path(event) %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </ul>
      <% else %>
        <%= t('.no_events') %>
        <br/>
        <%= link_to 'All Events', events_path, class: 'btn btn-secondary mb-4' %>
      <% end %>
  <% else %>
    <%= form_for "Login",
      url: user_google_oauth2_omniauth_authorize_path,
      method: :post,
      data: {turbo: "false"} do |f| %>
        <%= f.submit t('login'), type: "image", src: url_for("/assets/btn_google_signin_dark_normal_web.png") %>
    <% end %>
  <% end %>
</div>
