<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= event.end_date %>
  </p>

  <p>
    <strong>Venue:</strong>
    <%= event.venue %>
  </p>

  <p>
    <strong>Google event:</strong>
    <%= event.google_event_id %>
  </p>

  <p>
    <strong>Attendees:</strong>
    <%= event.attendees %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user_id %>
  </p>

</div>
